<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form id="login-form">
      <label for="display_name">Display Name:</label>
      <input type="text" id="display_name" name="display_name" />
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" name="password" />
      <button type="submit">Login</button>
    </form>
  </body>
</html>